Cannot conform to RFC6750 because authentication classes cannot return HTTP 403 with WWW-Authenticate header.

From [Authentication](https://www.django-rest-framework.org/api-guide/authentication/) it says

> HTTP 401 responses must always include a WWW-Authenticate header, that instructs the client how to authenticate. HTTP 403 responses do not include the WWW-Authenticate header.

However, [RFC6750 Section 3.1](https://datatracker.ietf.org/doc/html/rfc6750#section-3.1) says

> insufficient_scope
>         The request requires higher privileges than provided by the
>         access token.  The resource server SHOULD respond with the HTTP
>         403 (Forbidden) status code and MAY include the "scope"
>         attribute with the scope necessary to access the protected
>         resource.

I cannot conform to RFC6750 by returning a request with HTTP 403 and the WWW-Authenticate header because DRF returns HTTP 401 if a string is returned from `authenticate_header`.

Found out I can fix this with a custom exception handler.

```
def conformance_exception_handler(exc, context):

    response = exception_handler(exc, context)
    if isinstance(exc, AuthenticationFailed):
        if 'error="insufficient_scope"' in exc.auth_header.split(" "):
            response.status_code = 403
    return response
```