TokenAuthentication doesn't add a Vary header

## Checklist

- [x] I have verified that that issue exists against the `master` branch of Django REST framework.
- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] This is not a usage question. (Those should be directed to the [discussion group](https://groups.google.com/forum/#!forum/django-rest-framework) instead.)
- [x] This cannot be dealt with as a third party library. (We prefer new functionality to be [in the form of third party libraries](http://www.django-rest-framework.org/topics/third-party-resources/#about-third-party-packages) where possible.)
- [x] I have reduced the issue to the simplest possible case.
- [ ] I have included a failing test as a pull request. (If you are unable to do so we can still accept the issue.)

## Steps to reproduce

Use the `rest_framework.authentication.TokenAuthentication` authentication class.

## Expected behavior

A `Vary: Authorization` header should appear. 

The header should be there since we are doing something based on the authorization header which could return different content for the same url. If we don't, and have caching turned on, then the results for one user ends up cached for other users.

## Actual behavior

No `Vary: Authorization` header.

This fix isn't really required since according to RFC 7234 the section ['Storing Responses in Caches'](http://greenbytes.de/tech/webdav/rfc7234.html#response.cacheability), 5th point mentions the following:

> A cache must not store a response to any request, unless: the Authorization header field (see Section 4.2 of [RFC7235]) does not appear in the request

Good call!

> 3.2 A shared cache must not use a cached response to a request with an Authorization header field (Section 4.2 of [RFC7235]) to satisfy any subsequent request unless a cache directive that allows such responses to be stored is present in the response